body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: rgba(128, 128, 128, 0.089);
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#current-brush-color{
    display: flex;
    flex-direction: column;
}

table{
    margin-top: 25px;
    height: 100%;
    width: 85%;
    padding: 5px;
    border-collapse: collapse;
    align-self: center;
}

.color, .current-color{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.current-color{
    border: 2px solid black;
}

#clean-button, #add-pixels{
    color: black;
    border: 2px solid black;
    cursor: pointer;
    font-size: 16px;
    padding: 3px 20px;
}

#clean-button {
    background-color: rgb(197, 9, 9);
    border: 2px solid rgb(197, 9, 9);
    color: white;
}
#clean-button:hover {
    background-color: rgb(168, 6, 6);
}

tr, td{
    background-color: rgb(250, 253, 253);
    border: 2px solid black;
}

.pixel{
    background-color: aliceblue;
    border: 2px solid black;
    width: 15px;
    height: 15px;
} 

label{
    font-size: 22px;
}

#number-width{
    padding: 3px 10px;
}

.favColor{
    background-color: rgb(255, 253, 253);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}



